[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
holidays = "*"
icalendar = "*"
pandas = "*"
arrow = "*"
tabulate = "*"
openpyxl = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
